.ruler {
  position: absolute;
}

.ruler-box {
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background: #444;
}

.ruler-horizontal {
  top: 0;
  left: 30px;
  width: calc(100% - 30px);
  height: 30px;
}

.ruler-vertical {
  top: 30px;
  width: 30px;
  height: calc(100% - 30px);
}
