.canvas-wrapper {
  margin-left: 30px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  overflow: hidden;
  padding: 50px 50px;
}
.canvas-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.component-active {
  outline: 2px dashed #3a8ee6 !important;
}
